##############################################################
#  Monero Archival Project
#  monerod-archive-v8 
#
#  Location: /etc/systemd/system/monerod-archive.service
#  Based on https://github.com/monero-project/monero/utils/systemd/monerod.service
##############################################################

[Unit]
Description=Monero Archive Full Node
After=network.target

[Service]
User=map
Group=map
WorkingDirectory=~
RuntimeDirectory=monero

# Clearnet config
Type=forking
PIDFile=/run/monerod-archive/monerod-archive.pid
ExecStart=/usr/bin/monero/monerod-archive-v8 --detach --config-file /etc/monerod-archive.conf --pidfile /run/monerod-archive/monerod-archive.pid

Restart=always

[Install]
WantedBy=multi-user.target
